<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
<!--
Contains meta data( that doesn't show on the html page),
Title, CSS, links (Javascripts, bootsrap) ( Design for page)
-->
</head>
<body>
    <h2>Welcome to Java Developers Course</h2>
<h1>Sprint boots</h1>
    <h2>Sprint boots</h2>
    <h3>Sprint boots</h3>
    <h4>Sprint boots</h4>
    <h5 align="center" style="color: blue">Sprint boots</h5>

<ul>
    <li>This</li>
    <li>That</li>
</ul>
    <br>
    <br>
    <br>
<table>
    <thead>
        <td> Name</td>
        <td> Job</td>
        <td> Salary</td>
    </thead>
    <tbody>
    <tr>
        <td> Name</td>
        <td> Job</td>
        <td> Salary</td>
    </tr>
    </tbody>
</table>

<label>
    Username:
</label>
<input type="text" name="username">
<br>
<label>
    Password:
</label>
<input type="password">
    <br>
<label>

    Please enter your comment:
</label>
<textarea name="comments"></textarea>

</body>
</html>